
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/Toxin/dist/assets/fonts/opensans-regular.woff2") format("woff2"),
    url("/Toxin/dist/assets/fonts/opensans-regular.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/Toxin/dist/assets/fonts/opensans-bold.woff2") format("woff2"),
    url("/Toxin/dist/assets/fonts/opensans-bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/Toxin/dist/assets/fonts/montserrat-regular.woff2") format("woff2"),
  url("/Toxin/dist/assets/fonts/montserrat-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/Toxin/dist/assets/fonts/montserrat-bold.woff2") format("woff2"),
  url("/Toxin/dist/assets/fonts/montserrat-bold.woff") format("woff");
}

body {
    margin: 0;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #1F2041;
    background-color: #ffffff;
   
}
body.gray-color{
  background-color: #F4F4F6;
}
a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;     
}


@media (max-width: $tablet-width) {
    .container {
        width: 668px;
        padding: 0;
        margin: 0 auto;
    }
}
@media (max-width: $desktop-width) {
    .container {
        width: 1050px;
        margin: 0 auto;
    }
}
@media (max-width: $mobile-width) {
  .container {
    width: 260px;
    padding: 0 30px;
    margin: 0 auto;     
}
}
