header.page-header--for-ui
  nav.main-nav--for-ui
    a.main-nav--for-ui__logo(href="index.html")
      img.main-nav--for-ui__logo-image(src="assets/img/dont-opt/logo.svg" width="48" height="48" alt="Логотип сайта")
