header.page-header
  .page-header__content-wrapper.container
    nav.main-nav.content-wrapper--flex-with-justify
      a.main-nav__logo(href="index.html")
        img.main-nav__logo-image(src="assets/img/logo-color.svg" width="106" height="40" alt="Логотип сайта")
      .main-nav__link-wrapper.content-wrapper--flex
        ul.main-nav__list.content-wrapper--flex
          li.main-nav__item
            a.main-nav__link.main-nav__link--strong(href="#") О нас
          li.main-nav__item
            a.main-nav__link.main-nav__link--dropdown(href="#") Услуги
          li.main-nav__item
            a.main-nav__link(href="#") Вакансии
          li.main-nav__item
            a.main-nav__link(href="#") Новости
          li.main-nav__item
            a.main-nav__link.main-nav__link--dropdown(href="#") Соглашения
        .main-nav__bnt-wrapper
          a.main-nav__btn.main-nav__btn--entry.btn.btn--invert(href="https://vladmokrousov.github.io/Toxin/dist/sign-in.html") Войти
          a.main-nav__btn.main-nav__btn--registr.btn.btn--standart(href="https://vladmokrousov.github.io/Toxin/dist/registration.html") Зарегистрироваться