.btn {
  cursor: pointer;
  width: 99px;
  padding: 14px 0;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-color: #BC9CFF;
  border-radius: 22px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  outline: none;
}
.btn--standart:hover{
  opacity: 0.5;
}

.btn--with-opacity {
  opacity: 0.5;
}
.btn--invert {
  background: transparent;
  box-sizing: border-box;
  border: 2px solid #BC9CFF;
  color: #BC9CFF;
}
.btn--invert:hover{
  border: 2px solid rgba(188, 156, 255, 0.5); 
}
.btn--invert-opacity {
  border: 2px solid rgba(188, 156, 255, 0.5);
}
.btn--string {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #BC9CFF;
  outline: none;
  cursor: pointer;
  
}
.btn--string-opacity{
  color: rgba(31, 32, 65, 0.5);
}
.btn--with-arrow{
  width: 320px;
  display: block;
  text-align: center;
}