.like-button{
  width: 40px;
  height: 20px;
  padding: 0;
  padding-left: 10px;
  position: relative;
 
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
  
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  &::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 10px;
    height: 8px;
    background-image: url("/Toxin/dist/assets/img/heart-disable.svg");
    position: 0 0;
  }
}
.like-button:focus{
  outline: none;
}
.like-button--clicked{
  color: #BC9CFF;
  border: 1px solid #BC9CFF;
  &::before{
    background-image: url("/Toxin/dist/assets/img/heart-active.svg");
  }
}

.like-button--first {
  margin-right: 10px;
}
