.left-side{
  margin-left: 140px;
}
.left-side__wrapper--flex{
  justify-content: space-between;
}
.left-side__wrapper--how-much-guests {
  margin-bottom: 30px;
}
.left-side__title {
  display: block;
  margin-bottom: 20px;
}
.left-side__input {
  margin-bottom: 10px;
}
